/*

HEADER
======
*/

header{
  .search{
    .advanced{
      @mixin invisible;
    }
  }
  .header{
    &.content{
      padding-top: $padding-large;
      padding-bottom: $padding-large;
    }
  }
}

@media (--small){
  header{
    .links,
    .switcher{
      display: none;
    }
    .contentarea{
      @mixin invisible;
    }
  }
  .checkout-index-index{
    .nav-toggle{
      display: none;
    }
  }
}

@media (--medium-up){
  header{
    .panel{
      padding: $padding-small 0;
      .switcher{
        .switcher-label{
          @mixin invisible;
        }
      }
      &.wrapper{
        background: $gray4;
        padding: 0;
      }
      .contentarea{
        @mixin invisible;
      }
      .links{
        float: right;
        li{
          margin-right: $margin-medium;
          &:last-child{
            margin: 0;
          }
          &.welcome{
            span{
              color: $bliss;
            }
          }
        }
      }
      .customer-welcome{
        position: relative;
        color: $bliss;
        .customer-menu{
          @mixin invisible;
        }
        &.active{
          .customer-menu{
            @mixin invisible-reset;
            position: absolute;
            z-index: 1;
            background: $bliss;
            padding: $padding-small;
            border: 1px solid $gray;
            li{
              padding: $padding-small 0;
            }
          }
        }
        & + .authorization-link{
          @mixin invisible;
        }
      }
    }
  }
}
