/*

ICONS
=====
*/

.towishlist,
.tocompare,
.mailto,
.sorter-action,
.previous,
.next,
.nav-toggle,
.close,
.action-close,
#search_mini_form .action.search{
    &:after{
      font-family: '$icon-font-name';
      @mixin icon-font-face;
    }
    span{
      @mixin invisible;
    }
}

.breadcrumbs{
  a{
    &:after{
      font-family: '$icon-font-name';
      @mixin icon-font-face;
      content: $icon-next;
    }
  }
}

.towishlist{
  &:after{
    content: $icon-wishlist-empty;
  }
}

.tocompare{
  &:after{
    content: $icon-compare-empty;
  }
}

.mailto{
  &:after{
    content: $icon-envelope;
    float: left;
  }
  span{
    @mixin invisible-reset;
  }
}

.sorter-action{
  &.sort-asc{
    &:after{
      content: $icon-arrow-up;
    }
  }
  &.sort-desc{
    &:after{
      content: $icon-arrow-down;
    }
  }
}

.previous{
  &:after{
    content: $icon-prev;
  }
}

.next{
  &:after{
    content: $icon-next;
  }
}

.close,
.action-close{
  &:after{
    content: $icon-remove;
  }
}

.switcher-options{
  .action{
    &.toggle{
      &:after{
        font-family: '$icon-font-name';
        @mixin icon-font-face;
        content: $icon-down;
      }
    }
  }
  &.active{
    .action{
      &.toggle{
        &:after{
          content: $icon-up;
        }
      }
    }
  }
}

.opc-block-summary .items-in-cart,
.abs-discount-block,
.cart-summary .block, 
.paypal-review-discount .block{
  & > .title{
    &:after{
      font-family: '$icon-font-name';
      @mixin icon-font-face;
      content: $icon-down;
      float: right;
    }
  }
  &.active{
    & > .title{
      &:after{
        font-family: '$icon-font-name';
        @mixin icon-font-face;
        content: $icon-prev;
      }
    }
  }
}

.modes-mode{
  span{
    @mixin invisible;
  }
  &:before{
    font-family: '$icon-font-name';
    @mixin icon-font-face;
    content: $icon-grid;
  }
}
.mode-list{
  &:before{
    content: $icon-list;
  }
}

#search_mini_form{
  .label{
    &:before{
      font-family: '$icon-font-name';
      @mixin icon-font-face;
      font-size: 35px;
      line-height: 33px;
      content: $icon-search;
    }
    span{
      @mixin invisible;
    }
  }
  button{
    &.search{
      padding: 5px 3px;
      background: $bliss;
      &:after{
        content: $icon-search;
        color: $mine-shaft;
      }
    }
  }
}

.minicart-wrapper{
  .action{
    &.showcart{
      &:before{
        font-family: '$icon-font-name';
        @mixin icon-font-face;
        font-size: 35px;
        line-height: 33px;
        content: $icon-cart;
      }
      span{
        &.text{
          @mixin invisible;
        }
      }
    }
  }
}
.minicart-items-wrapper{
  .item{
    .options{
      .toggle{
        &:after{
          font-family: '$icon-font-name';
          @mixin icon-font-face;
          content: $icon-down;
        }
      }
      &.active{
        .toggle{
          &:after{
            content: $icon-up;
          }
        }
      }
    }
    .actions{
      .edit,
      .delete{
        span{
          @mixin invisible;
        }
        &:after{
          font-family: '$icon-font-name';
          @mixin icon-font-face;
        }
      }
      .edit{
        &:after{
          content: $icon-settings;
          
        }
      }
      .delete{
        &:after{
          content: $icon-trash;
        }
      }
    }
  }
  
}

.nav-toggle{
  &:before{
    font-family: '$icon-font-name';
    @mixin icon-font-face;
    content: $icon-menu;
    line-height: 25px;
    font-size: 30px;
  }
}

.opc-progress-bar{
  .opc-progress-bar-item{
    &._active{
      & > span{
        &:after{
          font-family: '$icon-font-name';
          @mixin icon-font-face;
          content: $icon-checkmark;
          line-height: 27px;
        }
      }
    }
  }
}

@media (--small){
  nav{
    .parent{
      .level-top{
        &:after{
          position: absolute;
          right: 0;
          font-family: '$icon-font-name';
          @mixin icon-font-face;
          content: $icon-down;
          font-size: 42px;
        }
        &.ui-state-active{
          &:after{
            font-family: '$icon-font-name';
            @mixin icon-font-face;
            content: $icon-up;
            font-size: 42px;
          }
        }
      }
    }
  }
}

/* Ajax loaders */

body{
  & > .loading-mask{
    z-index: 9999;
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background: rgba(255,255,255,0.5);
    .loader {
      & > img{
        bottom: 0;
        left: 0;
        margin: auto;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
      }
      p{
        @mixin invisible;
      }
    }
  }
}