/*

MINICART
========
*/

.minicart-wrapper{
  vertical-align: baseline;
  margin-left: $margin-medium;
  position: relative;
  float: right;
  @media (--small){
    margin-top: 5px;
  }
  .showcart{
    vertical-align: -webkit-baseline-middle;
  }
  .counter-label{
    display: none;
  }
}
