/*

BLOCKS
======
*/

.block{
  background: $bliss;
  &.block-search{
    float: right;
    .block-title{
      display: none;
    }
  }
}
@media (--small){
  .block{
    &.filter{
      .block-title{

      }
      .block-content{
        display: block;
      }
    }
  }
}

@media (--medium-up){
  .block{
    .block-title{
      display: none;
    }
    &.block-search{
      label{
        display: none;
      }
    }
  }
}
