/*

BLOCKS
======
*/

.block{
  background: $bliss;
  &.block-search{
    @media (--medium-up){
      position: relative;
    }
    float: right;
    .block-title{
      display: none;
    }
    #search{
      @media (--medium-up){
          width: 270px;
          padding: 3px 70px 3px $padding-small;
      }
    }
    .actions{
      .action{
        position: absolute;
        top: 0;
        right: 0;
        &.search[disabled]{
          cursor: not-allowed;
          pointer-events: none;
          opacity: .5;
        }
      }
    }
    @media (--small){
      float: initial;
      .field{
        &.search{
          .advanced{
            display: none;
          }
          .control{
            input{
              width: 100%;
              position: absolute;
              left: -300%;
              padding: 0;
            }
          }
          label{
            span{
              display: block;
              position: absolute;
              top: 0;
              right: 80px;
            }
            &.active{
              & + .control{
                input{
                  position: static;
                }
              }
            }
          }
        }
      }
      .actions{
        .search{
          display: none;
        }
      }
    }
  }
  
  &.newsletter{
    text-align: right;
    .title,
    label{
      display: none;
    }
    @media (--small){
      text-align: left;
    }
  }
  
  &.block-customer-login{
    @media (--small){
      background: $bliss;
    }
    /*.primary,*/
    /*.secondary{*/
      /*text-align: right;*/
    /*}*/
    @media (--small){
      .block-title{
          text-align: left;
      }
    }
  }
  
  &.account-nav{
    background: $gray;
  }
  
  &.block-reorder{
    ol{
      li{
        .item{
          display: inline-block;
          vertical-align: middle;
          width: 1rem;
          .label{
            display: none;
          }
        }
        .product-item-name{
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  
}

.opc-block-summary{
  background: $gray;
  .block{
    background: $gray;
  }
}

.modal-content{
  .block-authentication{
    .block-customer-login{
      background: $gray;
    }
  }
}

@media (--small){
  .block{
    &.filter{
      .block-title{

      }
      .block-content{
        display: block;
      }
    }
  }
}

@media (--medium-up){
  .block{
    .block-title{
      /*display: none;*/
    }
    &.block-search{
      label{
        display: none;
      }
    }
  }
}
