/*

BUTTONS
=======
*/

button{
  &.action{
    @extend .btn-primary;
    &.clear,
    &.update,
    &.action-select-shipping-item{
        background: $gray2;
        border: 1px solid $gray3;
        color: $mine-shaft;
    }
  }
}

.authentication-wrapper{
  .action-auth-toggle{
    background: $bliss;
    color: $mine-shaft;
    &:hover{
      background: $bliss;
      color: $link-color;
    }
  }
}
