/*

BUTTONS
=======
*/

button{
  &.action{
    @extend .btn-primary;
    &.clear,
    &.update,
    &.action-select-shipping-item{
        background: $gray2;
        border: 1px solid $gray3;
        color: $mine-shaft;
        margin-bottom: $margin-medium;
    }
    @media (--medium-up){
      &.update{
        margin-right: $margin-medium;
      }
    }
  }
  &.close,
  &.action-close{
     padding: 0;
     background: initial;
     color: $mine-shaft;
     border: initial;
     text-align: right;
     width: initial;
     &:hover{
       background: initial;
     }
  }
  &.subscribe,
  &.search{
     padding: $padding-small $padding-medium;
  }
}

.authentication-wrapper{
  .action-auth-toggle{
    background: $bliss;
    color: $mine-shaft;
    &:hover{
      background: $bliss;
      color: $link-color;
    }
  }
}

@media (--small){
    .primary, button{
        width: 100%;
    }
}

