/*

BUTTONS
=======
*/

button{
  &.action{
    @extend .btn-primary;
    &.clear,
    &.update,
    &.action-select-shipping-item{
        background: $gray2;
        border: 1px solid $gray3;
        color: $mine-shaft;
    }
  }
  &.subscribe{
     padding: $padding-small $padding-medium;
   }
}

.authentication-wrapper{
  .action-auth-toggle{
    background: $bliss;
    color: $mine-shaft;
    &:hover{
      background: $bliss;
      color: $link-color;
    }
  }
}

@media (--small){
    .primary, button{
        width: 100%;
    }
}

