/*

CART
====
*/

.table-wrapper{
  #shopping-cart-table{
    & > caption{
      display: none;
    }
    thead{
      tr{
        .item{
          text-align: left;
        }
        .price,
        .qty,
        .subtotal{
          text-align: right;
        }
      }
    }
    tbody{
      .item-info{
        .item{
          .product-item-photo,
          .product-item-details{
            display: inline-block;
            vertical-align: top;
          }
        }
      }
      .qty{
        label{
          display: none;
        }
      }
    }
  }
  & + .actions{
    .clear,
    .update{
      float: right;
    }
  }
}

.cart-summary{
  background: $gray;
  #block-shipping,
  #block-discount{
      background: $gray;
  }
  .checkout-methods-items{
    .item{
      text-align: center;
    }
  }
}