/*

CATALOG
=======
*/


.products-grid{
  lost-utility: clearfix;
  .product-item{
      lost-waffle: 1/2;
      @media (--medium){
        lost-waffle: 1/3;
      }
      @media (--large-up){
        lost-waffle: 1/4;
      }
      img{
        max-width: 100%;
        height: auto;
      }
  }
}

