/*

FOOTER
=======
*/

footer{
    border-top: 1px solid $gray3;
    padding-top: $padding-large;
    padding-bottom: $padding-large;
    .footer.links{
        margin-bottom: $margin-large;
        li{
            margin-bottom: $margin-medium;
        }
    }
    button.subscribe{
        margin-bottom: 3px;
    }
    input#newsletter{
        width: 270px;
        padding: 3px 70px 3px $padding-small;
    }
}