/*

GRID
====
*/

body{

  lost-center: $site-width;
  @media (--small){
    lost-center: $mobile-site-width;
  }
  header{
    & > .panel{
      .links{
        li{
          display: inline-block;
        }
      }
    }
    & > .header{
      lost-utility: clearfix;
      .logo,
      .minicart-wrapper,
      .block-search{
        /*lost-column: 1/3 0;*/
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  /* Global */
  &.page-layout-2columns-left{
    @media (--small){
      .columns{
        display: flex;
        flex-direction: column;
        .main{
            order: 2;
        }
        .sidebar{
          &.sidebar{
            &-additional{
              order: 3;
            }
            &-main{
              order: 1;
            }
          }
        }
      }
    }

    @media (--medium-up){
      .columns{
        lost-utility: clearfix;
        .main{
            lost-column: 4/5 1;
        }
        .sidebar{
          &.sidebar{
            &-main,
            &-additional{
              lost-column: 1/5 0;
            }
          }
        }
      }
    }
  }

  &.page-layout-1column{
    .columns{
      lost-utility: clearfix;
      .main{
        lost-column: 1/1;
        @media (--medium-up){
          .product-info-main{
            lost-column: 3/8 1;
          }
          .media{
            lost-column: 5/8;
          }
          .detailed{
            lost-column: 1/1;
          }
        }
      }
    }
    @media (--small){
        .columns{
          .main{
            display: flex;
            flex-direction: column;
            .media,
            .product-info-main{
              lost-column: 1 0;
            }
            .media{
              order: 1;
            }
            .product-info-main{
              order: 2;
            }
            .detailed{
              order: 3;
            }
          }
        }
    }
  }

  footer{
    lost-utility: clearfix;
    .block{
      lost-column: 1/2 1;
      .newsletter,
      .actions{
        display: inline-block;
      }
    }
    .links{
      lost-column: 1/2 0;
    }
    @media (--small){
      .block,
      .links{
        lost-column: 1;
      }
    }
    .copyright,
    .bugs{
      lost-column: 1;
    }
  }

}
