/*

GRID
====
*/

body{
  
  lost-center: $site-width;

  header{
    & > .panel{
      .links{
        li{
          display: inline-block;
        }
      }
    }
    & > .header{
      lost-utility: clearfix;
      .logo,
      .minicart-wrapper,
      .block-search{
        lost-column: 1/3 0;
      }
    }
  }

  .nav-sections{
    nav{
      ul{
        li{
          display: inline-block;
        }
      }
    }
  }

  footer{
    lost-utility: clearfix;
    .newsletter,
    .links,
    .copyright,
    .bugs{
      lost-column: 1/2;
    }
  }

}
