/*

HEADER
======
*/

@media (--small){
  header{
    .links,
    .contentarea,
    .switcher{
      display: none;
    }
  }
}

@media (--medium-up){
  header{
    .switcher{
      .switcher-label{
        display: none;
      }
    }
    .contentarea,
    .links .compare{
      display: none;
    }
    .links{
      float: right;
    }
    .switcher{
      float: left;
    }
  }
}