/*

ICONS
=====
*/

.towishlist,
.tocompare,
.mailto,
.sorter-action,
.previous,
.next,
.nav-toggle{
    &:after{
      display: inline-block;
      font-size: 18px;
    }
    span{
      display: none;
    }
}

.towishlist{
  &:after{
    content: "\2665";
  }
}

.tocompare{
  &:after{
    content: "\21D4";
  }
}

.mailto{
  &:after{
    content: "\2709";
  }
}

.sorter-action{
  &.sort-asc{
    &:after{
      content: "\2B06"
    }
  }
  &.sort-desc{
    &:after{
      content: "\2B07"
    }
  }
}

.previous{
  &:after{
    content: "\2190";
  }
}

.next{
  &:after{
    content: "\2192";
  }
}

.nav-toggle{
  &:before{
    content: '\2261';
    font-size: 34px;
  }
}

.opc-progress-bar{
  .opc-progress-bar-item{
    &._active{
      & > span{
        &:after{
          content: '\2713';
        }
      }
    }
  }
}

@media (--small){
  nav{
    .parent{
      .level-top{
        &:after{
          position: absolute;
          right: 0;
          content: '\25BC';
        }
        &.ui-state-active{
          &:after{
            content: '\25B2';
          }
        }
      }
    }
  }
}