/*

ICONS
=====
*/

.towishlist,
.tocompare,
.mailto,
.sorter-action,
.previous,
.next,
.nav-toggle{
    &:after{
      display: inline-block;
      font-size: 18px;
    }
    span{
      display: none;
    }
}

.towishlist{
  &:after{
    content: "wishlist";
  }
}

.tocompare{
  &:after{
    content: "compare";
  }
}

.mailto{
  &:after{
    content: "mailto";
  }
}

.sorter-action{
  &.sort-asc{
    &:after{
      content: "up";
    }
  }
  &.sort-desc{
    &:after{
      content: "down";
    }
  }
}

.previous{
  &:after{
    content: "prev";
  }
}

.next{
  &:after{
    content: "next";
  }
}

.nav-toggle{
  &:before{
    content: 'menu';
  }
}

.opc-progress-bar{
  .opc-progress-bar-item{
    &._active{
      & > span{
        &:after{
          /* Check Mark */
          content: 'v';
        }
      }
    }
  }
}

@media (--small){
  nav{
    .parent{
      .level-top{
        &:after{
          position: absolute;
          right: 0;
          content: 'down';
        }
        &.ui-state-active{
          &:after{
            content: 'up';
          }
        }
      }
    }
  }
}