/*

INPUTS
======
*/

/* QTY */

input{
  &.item-qty, &.qty {
     height: 32px;
     text-align: center;
     width: 40px;
  }
  &#newsletter{
    padding: 3px 3px 3px $padding-small;
    @media (--small){
      width: 140px;
    }
    @media (--medium-up){
      width: 200px;
    }
  }
}
