/*

LINKS
=====
*/

.action{
  &.continue,
  &.action-delete,
  &.action-edit{
    text-align: center;
    background: $gray2;
    border: 1px solid $gray3;
    color: $mine-shaft;
    border-radius: $link-radius;
  }
  
  &.create{
    &.primary{
      background: $btn-color;
      color: $btn-font-color;
      border-radius: $link-radius;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;
      &:hover{
        background: $btn-hover-color;
      }
    }
  }
}