/*

NAVIGATION
==========
*/

@media (--medium-up){
  .nav-toggle,
  .nav-sections-item-title{
    display: none;
  }

  /* DESKTOP MENU */

  .nav-sections{
    nav{
      ul{
        li{
          display: inline-block;
          vertical-align: top;
          ul{
            position: absolute!important;
            background: $bliss;
            li{
              display: block;
              ul{
                position: absolute;
                top: 0!important;
                left: 100%!important;
              }
            }
          }
        }
      }
    }
  }

}

@media (--small){
  .nav-sections{
    -webkit-overflow-scrolling: touch;
    transition: left 0.3s;
    height: 100%;
    left: -80%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
    background: $bliss;
  }
  .nav-before-open{
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    body{
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    .page-wrapper{
      transition: left 0.3s;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: relative;
    }
  }
  .nav-toggle{
    cursor: pointer;
  }
  .nav-open{
    .page-wrapper {
      left: calc(100% - 54px);
    }
    .nav-toggle{
      &:after{
        background: rgba(0, 0, 0, 0.8);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
    .nav-sections{
      box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
      left: 0;
      z-index: 99;
      .section-item-title{
        float: left;
        width: 33.33%;
      }
      .section-item-content{
        float: right;
        margin-left: -100%;
        width: 100%;
        margin-top: 2rem;
        nav{
          & > ul{
            li{
              & > ul{
                  top: auto!important;
              }
            }
          }
        }
        .compare{
          display: none;
        }
      }
    }
  }

}
