/*

TABLE
=====
*/

.table-wrapper{
  margin-bottom: $margin-large;
  & + .actions{
    .clear,
    .update{
      float: right;
    }
  }
}

/* Account */

.account{
  .orders-recent,
  .orders-history,
  .order-items,
  .reviews{
    table{
      caption{
        display: none;
      }
      @media (--small){
        thead{
          tr{
            th{
              display: none;
            }
          }
        }
        tbody{
          td{
            display: block;
            &:before{
              padding-right: 10px;
              content: attr(data-th) ': ';
              display: inline-block;
              color: $mine-shaft;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

/* Cart */

#shopping-cart-table{
  & > caption{
    display: none;
  }
  thead{
    tr{
      .item{
        text-align: left;
      }
      .price,
      .qty,
      .subtotal{
        text-align: left;
      }
    }
  }
  thead + .item{
    border-top: 1px solid $gray3;
  }
  tbody{
    border-bottom: 1px solid $gray3;
    .item-info{
      .item{
        .product-item-photo,
        .product-item-details{
          display: inline-block;
          vertical-align: top;
        }
        .product-image-wrapper{
          padding: 0!important;
        }
      }
    }
    .gift-options-cart-item{
      .action-gift{
        float: left;
      }
      .gift-content{
        display: none;
        clear: left;
        display: none;
        float: left;
        text-align: left;
        width: 100%;
        &._active{
          display: table;
          table-layout: fixed;
        }
      }
    }
    .qty{
      label{
        display: none;
      }
    }
  }
}

/* Checkout */

#co-shipping-method-form{
  table{
    thead{
      display: none;
    }
  }
}

/* Both cart and checkout */

.totals{
  th{
    text-align: left;
    padding-left: 0;
  }
  td{
    text-align: right;
    padding-right: 0;
  }
}

/* Unnecessary table text */

.table-caption,
.estimate .legend{
  display: none;
}

.cart.table-wrapper .col{
  padding-top: $padding-large;
  vertical-align: top;
}