/*

TOOLBAR
=======
*/

@media (--small){
  .toolbar{
      .modes,
      .limiter,
      .pages{
        display: none;
      }
      .sorter,
      .toolbar-amount{
        float: right;
      }
  }
  .products{
    & + .toolbar{
      .pages{
        display: block;
        text-align: center;
        ul{
          li{
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .toolbar-amount{
        display: none;
      }
      .sorter{
        display: none;
      }
    }
  }
}

@media (--medium-up){
  .toolbar{
    .limiter,
    .pages{
      display: none;
    }
    .sorter{
      float: right;
    }
  }
  .products{
    & + .toolbar{
      .sorter,
      .modes,
      .toolbar-amount{
        display: none;
      }
      .pages{
        display: inline-block;
        ul{
          li{
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .limiter{
        display: inline-block;
        float: right;
        .control,
        .limiter-text{
          display: inline-block;
        }
      }
    }
  }
}
