/*

GLOBAL
======
*/

$site-width: 1280px;
$mobile-site-width: 100%;

/*

COLORS
======
*/

$bliss: #fff;
$gray: #f5f5f5;
$gray2: #f2f2f2;
$gray3: #cdcdcd;
$light-green: #e5efe5;
$light-red: #fae5e5;
$mine-shaft: #222;
$primary-color: #1979c3;
$error-color: #e02b27;
$success-color: #006400;

/*

RESPONSIVE TYPE
===============
*/

$base-font-family: 'Open Sans', sans-serif;
$base-font-color: $mine-shaft;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* min-size, max-size */

$min-font-size: 12px;
$max-font-size: 16px;

/* viewport widths between which font-size is fluid */

$min-font-range: 420px;
$max-font-range: 1280px;

$min-line-height: 16px;
$max-line-height: 20px;
$min-line-range: 420px;
$max-line-range: 1280px;

$min-letter-spacing: 1px;
$max-letter-spacing: 3px;
$min-letter-range: 420px;
$max-letter-range: 1280px;

/*

MEDIA & BREAKING POINTS
=======================
*/

@custom-media --small (max-width: 640px);
@custom-media --medium (min-width: 641px) and (max-width: 1199px);
@custom-media --medium-up (min-width: 641px);
@custom-media --large-up (min-width: 1200px);

/*

BUTTONS
=======
*/

$btn-radius: 3px;
$btn-color: $primary-color;
$btn-hover-color: color($primary-color l(35%));
$btn-font-color: $bliss;
$btn-padding: 4px 10px;

/*

LINKS
=====
*/

$link-color: $primary-color;
$link-hover-color: color($primary-color l(35%));
$link-radius: 3px;

/*

NAVIGATION
==========
*/

$nav-background: $gray;

/*

NOTIFICATIONS
=============
*/

$notify-success: $success-color;
$notify-error: $error-color;
$success-bg: $light-green;
$error-bg: $light-red;