/*

GLOBAL
======
*/

$site-width: 1280px;
$mobile-site-width: 100%;

/*

SPACERS
======
*/

$margin-large: 20px;
$margin-small: calc($margin-large - 15px);
$margin-medium: calc($margin-large - 10px);

$padding-large: 20px;
$padding-small: calc($padding-large - 15px);
$padding-medium: calc($padding-large - 10px);

/*

COLORS
======
*/

$bliss: #fff;
$gray: #f5f5f5;
$gray2: #f2f2f2;
$gray3: #cdcdcd;
$gray4: #999;
$light-green: #e5efe5;
$light-red: #fae5e5;
$mine-shaft: #222;
$primary-color: #1979c3;
$error-color: #e02b27;
$success-color: #006400;
$progress-color: #ff5501;

/*

RESPONSIVE TYPE
===============
*/

$base-font-family: 'Open Sans', sans-serif;
$base-font-color: $mine-shaft;

/* Min/max font sizes & line heights */

/* Headlines */

$min-h1-fs: 26px;
$max-h1-fs: 40px;
$min-h1-lh: 29px;
$max-h1-lh: 44px;
$h1-margin: 40px;

/* Base fonts */

$min-basefont-fs: 14px;
$max-basefont-fs: 14px;
$min-basefont-lh: 20px;
$max-basefont-lh: 20px;

/* Small fonts */

$min-smallfont-fs: 12px;
$max-smallfont-fs: 12px;
$min-smallfont-lh: 17px;
$max-smallfont-lh: 17px;

/* Block fonts */

$min-block-title-fs: 18px;
$max-block-title-fs: 18px;
$min-block-title-lh: 26px;
$max-block-title-lh: 26px;

/* Checkout */

$checkout-headline-fs: 26px;
$checkout-headline-lh: 37px;

/*

MEDIA & BREAKING POINTS
=======================
*/

@custom-media --small (max-width: 640px);
@custom-media --medium (min-width: 641px) and (max-width: 1199px);
@custom-media --medium-up (min-width: 641px);
@custom-media --large-up (min-width: 1200px);

/*

BUTTONS
=======
*/

$btn-radius: 3px;
$btn-color: $primary-color;
$btn-hover-color: color($primary-color l(35%));
$btn-font-color: $bliss;
$btn-padding: 14px 17px;

/*

LINKS
=====
*/

$link-color: $primary-color;
$link-hover-color: color($primary-color l(35%));
$link-radius: 3px;

/*

SELECTS
=======
*/

$select-bg: $bliss;

/*

NAVIGATION
==========
*/

$nav-background: $gray;
$top-menu-lh: 30px;

/*

NOTIFICATIONS
=============
*/

$notify-success: $success-color;
$notify-error: $error-color;
$success-bg: $light-green;
$error-bg: $light-red;

/*

BLOCKS
======
*/

$block-title-margin: 20px;

/*

ICONS
=====
*/

$icon-font-name: icons-blank-theme;
$icon-font-path: ../fonts/Blank-Theme-Icons/Blank-Theme-Icons;
$icon-font-weight: normal;
$icon-font-size: 29px;
$icon-line-height: 18px;

$icon-wishlist-full: '\e600';
$icon-wishlist-empty: '\e601';
$icon-warning: '\e602';
$icon-update: '\e603';
$icon-trash: '\e604';
$icon-star: '\e605';
$icon-settings: '\e606';
$icon-pointer-down: '\e607';
$icon-next: '\e608';
$icon-menu: '\e609';
$icon-location: '\e60a';
$icon-list: '\e60b';
$icon-info: '\e60c';
$icon-grid: '\e60d';
$icon-comment-reflected: '\e60e';
$icon-collapse: '\e60f';
$icon-checkmark: '\e610';
$icon-cart: '\e611';
$icon-calendar: '\e612';
$icon-arrow-up: '\e613';
$icon-arrow-down: '\e614';
$icon-search: '\e615';
$icon-remove: '\e616';
$icon-prev: '\e617';
$icon-pointer-up: '\e618';
$icon-pointer-right: '\e619';
$icon-pointer-left: '\e61a';
$icon-flag: '\e61b';
$icon-expand: '\e61c';
$icon-envelope: '\e61d';
$icon-compare-full: '\e61e';
$icon-compare-empty: '\e61f';
$icon-comment: '\e620';
$icon-up: '\e621';
$icon-down: '\e622';
$icon-help: '\e623';
$icon-arrow-right-thin: '\e624';
$icon-arrow-left-thin: '\e625';
$icon-arrow-down-thin: '\e626';
$icon-account: '\e627';
$icon-gift-registry: '\e628';
$icon-present: '\e629';
$icon-arrow-up-thin: '\e633';
