/*

BUTTONS
=======
*/

.btn-primary {
  display: inline-block;
  font: inherit;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  padding: $global-padding;
  border-radius: $global-radius;
  border: initial;
  background: $btn-color;
  color: $btn-font-color;
  &:hover{
    background: $btn-hover-color;
  }
}
