/*

TYPO
====
*/

html{

  font-family: $basefont-family;
  color: $base-font-color;

  font-size: responsive $min-font-size $max-font-size;
  font-range: $min-font-range $max-font-range;

  line-height: responsive $min-line-height $max-line-height;
  line-height-range: $min-line-range $max-line-range;

  letter-spacing: responsive $min-letter-spacing $max-letter-spacing;
  letter-spacing-range: $min-letter-range $max-letter-range;

}
