/*

TYPO
====
*/

html{

  font-family: $base-font-family;
  font-weight: $font-weight-light;
  color: $base-font-color;

  font-size: responsive $min-font-size $max-font-size;
  font-range: $min-font-range $max-font-range;

  line-height: responsive $min-line-height $max-line-height;
  line-height-range: $min-line-range $max-line-range;

  letter-spacing: responsive $min-letter-spacing $max-letter-spacing;
  letter-spacing-range: $min-letter-range $max-letter-range;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-weight: $font-weight-light;
  }

  strong{
    font-weight: $font-weight-semibold;
  }

}
